# Extra Metrics

Gorodetskaya et al. (2021) resalta la importancia de rolling mean

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', 500)

In [2]:
data = pd.read_csv('../data/aggregated_data_extra_metrics.csv')
data.head()

,ATM Name,Transaction Date,No Of Withdrawals,No Of XYZ Card Withdrawals,No Of Other Card Withdrawals,Total amount Withdrawn,Amount withdrawn XYZ Card,Amount withdrawn Other Card,Type,Weekday,...,isTomorrowWeekday,isWeekday,isPaymentDay,isPayweek,rolling_mean_weekday,rolling_max,lag_6,rolling_max_weekday,rolling_std,rolling_mean
0,Big Street ATM,2020-01-01,125,26,99,429200,75500,353700,National holiday,WEDNESDAY,...,True,True,False,True,429200.0,429200,429200.0,429200.0,110305.974453,2.988000e+05
1,Mount Road ATM,2020-01-01,144,49,95,377900,155200,222700,National holiday,WEDNESDAY,...,True,True,False,True,377900.0,983100,377900.0,377900.0,220819.202064,4.999467e+05
2,Airport ATM,2020-01-01,78,58,20,315400,269100,46300,National holiday,WEDNESDAY,...,True,True,False,True,315400.0,1034000,315400.0,315400.0,272711.985435,5.019806e+05
3,KK Nagar ATM,2020-01-01,268,176,92,1290200,927700,362500,National holiday,WEDNESDAY,...,True,True,False,True,1290200.0,1710500,1290200.0,1290200.0,289313.606662,1.059403e+06
4,Christ College ATM,2020-01-01,95,39,56,427100,235700,191400,National holiday,WEDNESDAY,...,True,True,False,True,427100.0,748100,427100.0,427100.0,146317.422066,4.707613e+05

In [4]:
data[['ATM Name', 'Transaction Date', 'Total amount Withdrawn']].loc[
    (data["ATM Name"] == "Big Street ATM") | 
    (data["ATM Name"] == "Mount Road ATM")
    ].head(20)

          ATM Name Transaction Date  Total amount Withdrawn
0   Big Street ATM       2020-01-01                  429200
1   Mount Road ATM       2020-01-01                  377900
5   Big Street ATM       2020-01-02                  401000
6   Mount Road ATM       2020-01-02                  772300
10  Big Street ATM       2020-01-03                  314800
11  Mount Road ATM       2020-01-03                  738100
15  Big Street ATM       2020-01-04                  356900
16  Mount Road ATM       2020-01-04                  633100
20  Big Street ATM       2020-01-05                  148800
21  Mount Road ATM       2020-01-05                  983100
25  Big Street ATM       2020-01-06                  307200
26  Mount Road ATM       2020-01-06                  583500
30  Big Street ATM       2020-01-07                  273500
31  Mount Road ATM       2020-01-07                  424000
35  Big Street ATM       2020-01-08                  242600
36  Mount Road ATM       2020-01-08                  602400
40  Big Street ATM       2020-01-09                  215300
41  Mount Road ATM       2020-01-09                  668000
45  Big Street ATM       2020-01-10                  336000
46  Mount Road ATM       2020-01-10                  741100

## CUSUM